.centreText {
    text-align: center;
  }
  
  h1 {
    font-size: 150px;
  }
  
  .dropZone {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    padding-bottom: 0px; 
    height: 51vh;
    background-color: #190061;
    border-radius: 20px;
    color: white;
  }
  
  .image1 {
    padding-top: 15px;
    max-width: 75%;
    height: 40vh;
  }
  
  .dank {
    font-family: "Times New Roman", Times, serif;
    display:flex;
    justify-content:center;
    color: white;
    font-size: 30px;
  }
  
  .dropZoneText {
    font-family: "Times New Roman", Times, serif;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 36px;
  }
